.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;

  .sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e6ba8;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(203, 203, 203);
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      font-size: 16px;
      color: #555;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 5px;
      margin-bottom: 10px;
      &:hover, &.active {
        background: #e8f0fe;
        color: #1a73e8;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .logout {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d32f2f;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
    padding-top: 20px;
    border-top: 1px solid rgb(203, 203, 203);
    &:hover {
      background: #fdecec;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
.filter-dropdown {
  position: relative;
  display: inline-block;

  .filter-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    padding: 8px 0;
    width: 120px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;

    li {
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
