.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
  }

  &__nav {
    ul {
      display: flex;
      gap: 100px;

      li {
        height: 100%;
        display: flex;
        align-items: center;

        a, span {
          height: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #000000;
          font-weight: 500;
          font-size: 20px;
          transition: color 0.3s;
          cursor: pointer;

          &:hover {
            color: #1890ff;
          }
        }

        &.dropdown {
          position: relative;

          .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            min-width: 250px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 8px 0;
            z-index: 1000;

            li {
              a {
                padding: 8px 16px;
                width: 100%;
                justify-content: center;
                &:hover {
                  background-color: #f5f5f5;
                }
              }
            }
          }

          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }
  .login-button {
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    justify-content: flex-end;
  }
}
