.user-information {
  background: rgb(32, 189, 50);
  padding: 100px;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: #ffffff;
    }

    .change-password-btn {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__content {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 50px;
    border-radius: 8px;
  }

  &__form {
    .form-group {
      margin-bottom: 15px;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 500;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid #000000;
      border-radius: 4px;
      font-size: 20px;
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }
  }

  &__avatar {
    .avatar-section {
      margin-bottom: 15px;
    }

    .avatar-container {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .update-btn {
      border-radius: 20px;
      height: 40px;
      padding: 0 20px;
      font-weight: 500;
      font-size: 20px;
    }
  }
  &__change-password {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .change-password-form {
      width: 100%;
      max-width: 400px;

      .form-group {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}
