
  .carousel {
    width: 150dvh;
    height: 100%;
    
  
  .swiper-slide {
    background: #ffffff;
    height: 80dvh;
    padding: 50px 50px;
  }
  
  .swiper-slide img {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel {

  &.multi{
    img{
      height: 300px;
    }
  }
} 