.footer{
    background-color: #1e6ba8;
    color: white;
    padding: 40px 40px;
    width: 100%;
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__section {
        flex: 1;
        min-width: 250px;

        h3 {
            color: white;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.6;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &__icon {
            display: flex;
            flex-direction: column;
            
        }
    }

}

