.gad7-form {
    margin: 6.5% auto;
    margin-bottom: 0.5%;
    text-align: center;
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gad7-form h2 {
    margin-bottom: 1.5rem;
    color: #0056b3;
    font-size: 1.5rem;
}

.question {
    align-self: flex-start;
    margin-bottom: 1rem;
    text-align: left;
}

.question label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.question select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d7a;
}

@media (max-width: 600px) {
    .gad7-form {
        padding: 1rem;
    }
    
    .gad7-form h2 {
        font-size: 1.25rem;
    }
    
    button {
        width: 100%;
    }
}
